body {
  background-image: url(http://sweetclipart.com/multisite/sweetclipart/files/imagecache/middle/llama_outline.png);
  background-size: 10%;
  background-color: #C9EB9399;
  background-attachment: fixed;
  line-height: 1.75em;
  font-weight: 100;
  color: #222;
  font-family: 'Rubik', sans-serif;
}

h1, h3 {
  font-family: 'Trirong', serif;
}

h1 {
  font-size: 4em;
  color: #E35764;
}

h2 {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

h3 {
  font-weight: 900;
}



#myApp {
  background-color: #ffffffD9;
  width: 75vw;
  border: 1px solid #888;
  border-radius: 20px;
  margin: 5em auto;
  padding: 1em 2em 2em 2em;
}
